.categories-container {
  display: flex;
  width: 100%;
}

.category-card {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.categories-container img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.categories-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  /* width: 175px; */
  transform: translate(-50%);
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.categories-btn:hover {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}
@media (max-width: 768px) {
  .categories-container {
    flex-direction: column;
  }

  .categories-container img {
    height: 600px;
  }
  .categories-btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
