.categories-container {
  display: flex;
  width: 100%;
  margin-bottom: 300px;
}

.categories-container img {
  width: 100%;
  height: auto;
}

.category-card-men {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.category-card-women {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.category-card-kids {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.categories-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px 25px;
  background-color: white;
  color: black;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.categories-btn:hover {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}
