.categories-container {
  display: flex;
  width: 100%;
}

.category-card {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.categories-container img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.categories-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.categories-btn:hover {
  background-color: #000;
  color: #fff;
}

@media (max-width: 768px) {
  .categories-container {
    flex-direction: column;
  }

  .categories-container img {
    height: 600px;
  }
  .categories-btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
