@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.sale {
  padding: 40px;
}

.sale-header {
  margin-bottom: 30px;
  text-align: center;
}

.sale-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.sale-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #5c5b5b;
  margin-bottom: 40px;
}

.product-price-sale {
  font-size: 16px;
  font-weight: 600;
  color: red;
  margin: 0;
}

.product-price-org{
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 400;
 
}

@media (max-width: 768px) {
  .product-image {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .product-image {
    height: 200px;
  }
  .sale {
    padding: 20px;
  }
  .product-name {
    font-size: 13px;
  }
  .product-price {
    font-size: 14px;
  }
}
